<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>loginSession</filter-name>
    <filter-class>listener.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginSession</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>head</servlet-name>
    <servlet-class>servlets.head</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>head</servlet-name>
    <url-pattern>/head</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>center</servlet-name>
    <servlet-class>servlets.center</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>center</servlet-name>
    <url-pattern>/center</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>left</servlet-name>
    <servlet-class>servlets.left</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>left</servlet-name>
    <url-pattern>/left</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>foot</servlet-name>
    <servlet-class>servlets.Foot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>foot</servlet-name>
    <url-pattern>/foot</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>bookSearch</servlet-name>
    <servlet-class>servlets.bookSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookSearch</servlet-name>
    <url-pattern>/bookSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myInfo</servlet-name>
    <servlet-class>servlets.myInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myInfo</servlet-name>
    <url-pattern>/myInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewBooks</servlet-name>
    <servlet-class>servlets.NewBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewBooks</servlet-name>
    <url-pattern>/newBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchBooks</servlet-name>
    <servlet-class>servlets.SearchBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBooks</servlet-name>
    <url-pattern>/searchBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchOneBook</servlet-name>
    <servlet-class>servlets.SearchOneBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchOneBook</servlet-name>
    <url-pattern>/searchOneBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyBorrow</servlet-name>
    <servlet-class>servlets.MyBorrow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyBorrow</servlet-name>
    <url-pattern>/myBorrow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyInfoChange</servlet-name>
    <servlet-class>servlets.MyInforChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyInfoChange</servlet-name>
    <url-pattern>/infoChange</url-pattern>
  </servlet-mapping>
</web-app>